MQTT_HOST=CHANGE_ME_MQTT_HOST
MQTT_PORT=1884
MQTT_USER=<mqtt-user>
MQTT_PASS=<set-local-only>
GATEWAY_STATUS_URL=<disabled-until-http-debug-exists>
GATEWAY_BASE_URL=<disabled-until-http-debug-exists>
GLD_KEY_ID=1
GLD_AES128_KEY_HEX=000102030405060708090A0B0C0D0E0F
